.intro
{
  color: blue;
  font-family: policePerso;
  font-size: 2em;
  text-align: center;
}

h1
{
  text-align: center;
}

body
{
  text-align: center;
  margin: auto;
}

@font-face
{
    font-family: 'policePerso';
    src: url('fonts/grand-hotel/grandhotel-regular-webfont.otf') format('otf'),
         url('fonts/grand-hotel/grandhotel-regular-webfont.woff') format('woff'),
         url('fonts/grand-hotel/grandhotel-regular-webfont.ttf') format('truetype'),
         url('fonts/grand-hotel/grandhotel-regular-webfont.eot') format('eot'),
         url('fonts/grand-hotel/grandhotel-regular-webfont.svg') format('svg');
}

ul
{
  border: 2px blue solid;
  box-shadow: 6px 6px 5px blue;
  font-family: policePerso;
  font-size: 1.3em;
}

#blocPage
{
  display: flex;
  height: 100%;
}

.liseret
{
  width: 20%;
  background-color: black;
  height: 900px;
}

.contenu
{
  width: 80%;
  background-image: url("images/bg.jpg");
}

.colonne
{
  display: flex;
}

.element
{
  margin: 20px;
  width: 33%;
}
